global
    log /dev/log local0
    log /dev/log local1 notice

    daemon

defaults
    log global
    mode http

    option httplog
    option dontlognull

    timeout connect 5s
    timeout client  50s
    timeout server  50s

frontend zabbix_frontend
    bind *:80

    default_backend zabbix_servers

backend zabbix_servers
    balance roundrobin

    option httpchk GET /

    server zabbix-node1 NODE1-IP:80 check
    server zabbix-node2 NODE2-IP:80 check